@model Locadora.Models.Filme
<style type="text/css">
    .form-group {
        margin-bottom: 12px;
    }

    .sinopse {
        height: 120px;
    }
</style>
<div>
    <div class="form-group">
        <label asp-for="Nome" class="control-label" ></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger" ></span>
    </div>
    <div class="form-group">
        <label asp-for="Imagem" class="control-label" ></label>
        <input asp-for="Imagem" class="form-control" />
        <span asp-validation-for="Imagem" class="text-danger" ></span>
    </div>
    <div class="form-group">
        <label asp-for="GeneroId" class="control-label"></label>
        <select asp-for="GeneroId" class="form-control form-select">
            @{
                var generos = (List<Genero>?)ViewBag.Generos ?? new List<Genero>();
                foreach (var genero in generos)
                {
                    <option value="@genero.Id">@genero.Nome</option>
                }
            }
        </select>
        <span asp-validation-for="GeneroId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AnoLancamento" class="control-label"></label>
        <input asp-for="AnoLancamento" class="form-control" />
        <span asp-validation-for="AnoLancamento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sinopse" class="control-label"></label>
        <textarea height="200px" asp-for="Sinopse" class="form-control sinopse" ></textarea>
        <span asp-validation-for="Sinopse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duracao" class="control-label"></label>
        <input asp-for="Duracao" class="form-control" ></input>
        <span asp-validation-for="Duracao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary"/>
        <input type="button" value="Cancelar" class="btn btn-outline-secondary"
               onclick="location.href='@Url.Action("Index", "Filmes")'"/>
    </div>
</div>
